.hide {
    display: block;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-70%,-50%);
    font-size: 350%;
 }
 .woah {
  display: block;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-30%);
  font-size: 350%;
} 

  .myDIV:hover + .hide {
    display: block;
    color: rgb(255, 255, 255);
    transition: display 1s ease-in-out;
  }

.fixte {
    position: fixed;
    top: 100%;
 }