.hide {
    display: block;
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-20%,-10%);
    font-size: 250%;
 }
 .hide2 {
  display: block;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-30%,-30%);
  font-size: 150%;
}
 .woah {
  display: block;
  position: absolute;
  top: 10%;
  left: 5%;
  transform: translate(-20%,-10%);
  font-size: 250%;
} 

  .myDIV:hover + .hide {
    display: block;
    position: absolute;
    color: rgb(255, 255, 255);
    transition: display 1s ease-in-out;
  }
  .myDIV:hover + .hide2 {
    display: block;
    position: absolute;
    color: rgb(255, 255, 255);
    transition: display 1s ease-in-out;
  }

.fixte {
    position: fixed;
    top: 100%;
 }

 .image {
  position:absolute;
  display:inline-block;
  top: 30%;
  left: 5%;
  max-width: 25%;
  max-height: auto;
}
.overlay {
  display:none;
}
.image:hover + .overlay {
  width:100%;
  height:100%;
  background:none;
  position:absolute;
  top: 30%;
  left: 30%;
  transform: translate(-20%,-30%);
  display:inline-block;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;

  transition: 0.3s;

}