.hide {
    display: block;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
    font-size: 350%;
 }
 .woah {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 350%;
} 


.wowowow {
 display: block;
 position: fixed;
 top: 80%;
 left: 30%;
 transform: translate(-20%,-30%);
 font-size: 350%;
} 

.wowowowi {
  display: block;
  position: fixed;
  top: 30%;
  left: 80%;
  transform: translate(-50%,-30%);
  font-size: 350%;
 } 

 .wowowowii {
  display: block;
  position: fixed;
  top: 55%;
  left: 20%;
  transform: translate(-50%,-30%);
  font-size: 350%;
 } 

 .wowowowiii {
  display: block;
  position: fixed;
  top: 66%;
  left: 65%;
  transform: translate(-50%,-30%);
  font-size: 350%;
 } 

  .myDIV:hover + .hide {
    display: block;
    color: rgb(255, 255, 255);
    transition: display 1s ease-in-out;
  }

.fixte {
    position: fixed;
    top: 100%;
 }

 .image {
  position:relative;
  display:inline-block;
}
.overlay {
  display:none;
}
.image:hover .overlay {
  width: 10%;
  height: 10%;
  background:rgba(0,0,0,.5);
  position:absolute;
  top:0;
  left:0;
  display:inline-block;
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;

  /* All other styling - see example */
  img {
    top: 80%;
    left: 30%;
    transform: translate(-20%,-30%);
  }
}